# Zombie config file
# $ string
# @ array

# sprite

$sprite_factory                      = generic_sprite

@$sprite_scripts                     = ZombieAnim.as;
                                       FireAnim.as;
									   ShowTarget.as;

$sprite_texture                      = nZombie.png
s32_sprite_frame_width               = 32
s32_sprite_frame_height              = 32
f32 sprite_offset_x                  = 0
f32 sprite_offset_y                  = -8

    $sprite_gibs_start               = *start*

    $gib_type                                     = predefined
    $gib_style                                    = flesh
    u8 gib_count                                  = 4
    @u8 gib_frame                                 = 2; 3; 4; 5; 6; 7;
    f32 velocity                                  = 10.0
    f32 offset_x                                  = 0.0
    f32 offset_y                                  = 0.0

    $sprite_gibs_end                 = *end*

  $sprite_animation_start            = *start*
  
  # default
  $sprite_animation_default_name               = default
  u16 sprite_animation_default_time            = 4
  u8_sprite_animation_default_loop             = 1
  @u16 sprite_animation_default_frames         = 0; 0; 0; 0; 0; 0; 0; 4;

  # walk
  $sprite_animation_walk_name                  = walk
  u16 sprite_animation_walk_time               = 6
  u8_sprite_animation_walk_loop                = 1
  @u16 sprite_animation_walk_frames            = 0; 1; 2; 3;

  # attack
  $sprite_animation_attack_name                = attack
  u16 sprite_animation_attack_time             = 4
  u8_sprite_animation_attack_loop              = 1
  @u16 sprite_animation_attack_frames          = 4; 4; 5; 5; 6; 7;

  # dead
  $sprite_animation_dead_name                  = dead
  u16 sprite_animation_dead_time               = 4
  u8_sprite_animation_dead_loop                = 0
  @u16 sprite_animation_dead_frames            = 8; 9; 10; 11;
  
  # revive
  $sprite_animation_revive_name                = revive
  u16_sprite_animation_revive_time             = 4
  u8_sprite_animation_revive_loop              = 0
  @u16_sprite_animation_revive_frames          = 11; 10; 9; 8; 1;
  
  # jump
  $sprite_animation_jump_name                  = jump
  u16_sprite_animation_jump_time               = 5
  u8_sprite_animation_jump_loop                = 1
  @u16_sprite_animation_jump_frames            = 12; 12; 13; 14; 14; 15;
  
  $sprite_animation_end              = *end*
  
# shape

$shape_factory                       = box2d_shape

@$shape_scripts                      = 
f32 shape_mass                       = 68.0
f32 shape_radius                     = 6.0
f32 shape_friction                   = 0.07
f32 shape_elasticity                 = 0.0
f32 shape_buoyancy                   = 0.6
f32 shape_drag                       = 0.1
bool shape_collides                  = yes
bool shape_ladder                    = no
bool shape_platform                  = no
 #block_collider
@f32 verticesXY                      = 
u8 block_support                     = 0
bool block_background                = no
bool block_lightpasses               = no
bool block_snaptogrid                = no

$movement_factory                    = generic_movement
@$movement_scripts                   = FaceAimPosition.as;
                                       ZombieMovementInit.as;
									                     ZombieMovement.as;

$brain_factory                       = generic_brain
@$scripts                            = ZombieBrain.as;
                                       DetectObstructions.as;

$attachment_factory                  = box2d_attachment
@$attachment_scripts                 = 
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                  = PICKUP; 0; 0; 1; 0; 0;

$inventory_factory                   = 
					  
# general

$name                                = zombie2
@$scripts                            = Zombie2.as;
									                     DetectLadder.as; #resets ladder, put before other code that uses ladder
                                       CreatureLogic.as;
									   IsFlammable.as;
									                     CreatureAttack.as;
									                     CreatureFootSteps.as;
									                     CreatureCollision.as;
														 FallDamage.as;
									                     Provokable.as;
									                     TagAsZombie.as; # zombie
														 TagAsEnemy.as; # enemy
									                     FleshHitEffects.as;
									                     KnockBack.as;
                                       CreatureHit.as;
									   DropArmOnDeath.as;
									   EatOthers;
									                     CreatureDeath.as; # this checks for "dead" so leave it last
f32 health                           = 0.75
# looks & behaviour inside inventory
$inventory_name                      = Zombie
$inventory_icon                      = -             # default
u8 inventory_icon_frame              = 0
u8 inventory_icon_frame_width        = 0
u8 inventory_icon_frame_height       = 0
u8 inventory_used_width              = 0
u8 inventory_used_height             = 0
u8 inventory_max_stacks              = 0
